
*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
}
.perfil {
   margin-top: 5%;
   position: relative;
   margin-left: 32%;
   width: 40%;
   padding: 1%;
   left: -25%;


}

h3{
  text-align: center;
}
.imagen{
  position: fixed;
  position: relative;
  left: 81%;
  margin-top: -2.5%;
}
.posisao{ 
  position: relative;
  margin-top: 5%;
  left: 5%;
}




         
.barra{
  
   
   margin: 5%;
   width: 15%;
  
   position: relative;
   left: 60%;
   margin-top: -7%;

}

         
        
       
      
